.overflow-hidden {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

/* Para mejorar el rendimiento */
.flex-shrink-0 {
  will-change: transform;
  backface-visibility: hidden;
}